<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="Cinnect" />
    <meta name="description" />
    <link rel="icon" type="image/png" href="images/favicon.png" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Document title -->
    <title>Cinnect</title>
    <!-- Stylesheets & Fonts -->
    <link href="https://cdn.cinnect.net/css/plugins.css" rel="stylesheet" />
    <link href="https://cdn.cinnect.net/css/style.css" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.form.io/formiojs/formio.full.min.css"
    />
    <link rel="stylesheet" href="https://cdn.cinnect.net/fonts/branding.css" />
    <link rel="stylesheet" href="./jake-styles.css" />
    <link rel="stylesheet" href="./content.css" />
    <link rel="stylesheet" href="./search.css" />
    <link rel="stylesheet" href="./company.css" />
    <!-- Google Tag Manager (noscript) -->
    ​
    <script src="https://cdn.form.io/formiojs/formio.full.min.js"></script>
    <!-- Pixel Code for https://analytics.mysocialdesk.com/ -->
    <!-- Google Tag Manager -->
    <script>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, "script", "dataLayer", "GTM-MF8L42F");
    </script>
    <!-- End Google Tag Manager -->
    <!-- END Pixel Code -->
  </head>
  <body>
    <!-- Body Inner -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-170299532-1"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", "UA-170299532-1");
    </script>
    <script
      async
      src="https://analytics.mysocialdesk.com/pixel/9PkSiudJhVLutVbT"
    ></script>
    <!-- Header -->
    <nav class="navbar navbar-expand-lg navbar-light bg-white">
      <a class="navbar-brand logo-default" href="#"
        ><img src="https://cdn.cinnect.net//images/logo.png"
      /></a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarText"
        aria-controls="navbarText"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item px-2">
            <a class="nav-link active" href="#"
              ><h5><i class="fas fa-columns"></i> Home</h5></a
            >
          </li>
          <li class="nav-item px-2">
            <a class="nav-link" href="#"
              ><h5><i class="fas fa-film"></i> Content Library</h5></a
            >
          </li>
          <li class="nav-item px-2">
            <a class="nav-link" href="#"
              ><h5><i class="fas fa-newspaper"></i> Newsroom</h5></a
            >
          </li>
          <li class="nav-item dropdown px-2">
            <a
              class="nav-link"
              href="#"
              id="navbarDropdown"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
              ><h5>
                <i class="fas fa-bell"></i> Notifications
                <i class="fas fa-angle-down"></i></h5
            ></a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#"
                ><h6><i class="fas fa-bell"></i> Notification</h6></a
              >
            </div>
          </li>
          <li class="nav-item dropdown px-2 pr-lg-5">
            <a
              class="nav-link"
              href="#"
              id="navbarDropdown"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
              ><h5>
                <i class="fas fa-user-circle"></i> Jake
                <i class="fas fa-angle-down"></i></h5
            ></a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#"
                ><h6><i class="icon-user"></i> Edit Profile</h6></a
              >
              <a class="dropdown-item" href="#"
                ><h6><i class="icon-settings"></i> Company Settings</h6></a
              >
              <a class="dropdown-item" href="#"
                ><h6><i class="icon-log-out"></i> Log Out</h6></a
              >
            </div>
          </li>
        </ul>
      </div>
    </nav>
    <!-- Page title -->
    <div class="container py-5">
      <div class="row">
        <div class="col-sm-12 col-md-3 text-center text-md-left">
          <img
            class="rounded"
            src="http://via.placeholder.com/150x150"
            alt=""
          />
        </div>
        <div class="text-center text-md-left mt-5 mt-md-0 col-md-7">
          <h1>Goldfinch</h1>
          <br />
          <h4>Company</h4>
          <h4>London, UK</h4>
        </div>
        <div class="col-md-2 mt-5 mt-md-0 text-center text-md-right"></div>
      </div>
      <div class="row mt-5 pt-5">
        <div class="col-md-3 text-center text-md-left">
          <h4>Genres</h4>
          <div class="justify-content-center justify-content-md-start">
            <a class="mr-2 mt-2" href="">
              <h4 class="display-inline-block">
                <span class="badge badge-danger">Drama</span>
                <
              </h4>
            </a>
          </div>
        </div>
        <div class="col-md-8 text-center text-md-left mt-5 mt-md-0">
          <h4>Description</h4>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facilis,
            voluptates. Ad id ratione eaque! Accusantium nam impedit tenetur ex?
            Architecto consequatur, similique qui minima, reprehenderit hic
            quos, illum possimus modi impedit autem natus sit distinctio officia
            optio ratione blanditiis repellendus aliquid odit aut eos!
            Consequatur sint animi voluptate unde sequi.
          </p>
        </div>
      </div>
      <div class="row mt-5 pt-5">
        <div class="col-12 text-center text-md-left">
          <h2>Movie List (4)</h2>
        </div>
        <div>
          <div class="row mb-5">
            <div class="col-12 col-md-4 col-lg-3">
              <div class="product rounded">
                <div class="card">
                  <div class="product-image embed-responsive-2by3">
                    <a
                      href="https://cdn.cinnect.net/assets/38cbe793hewj/trailer.mp4"
                      data-lightbox="iframe"
                      ><img
                        class="embed-responsive-2by3"
                        alt="Shop product image!"
                        src="https://cdn.cinnect.net/assets/38cbe793hewj/poster.jpg"
                    /></a>
                    <a
                      href="https://cdn.cinnect.net/assets/38cbe793hewj/trailer.mp4"
                      data-lightbox="iframe"
                      ><img
                        class="embed-responsive-2by3"
                        style="object-fit: cover;"
                        alt="Shop product image!"
                        src="https://cdn.cinnect.net/assets/38cbe793hewj/still1.jpg"
                    /></a>
                    <div class="project-wishlist">
                      <a class="product-play" href="#"
                        ><i class="fas fa-play"></i
                      ></a>
                      <a class="product-bookmark" href="#"
                        ><i class="fa fa-bookmark"></i
                      ></a>
                      <!-- <a href="#"><i class="fa fa-share"></i></a> -->
                    </div>
                    <div class="product-overlay">
                      <a
                        href="https://cdn.cinnect.net/assets/38cbe793hewj/trailer.mp4"
                        data-lightbox="iframe"
                        >A reclusive photographer finds himself confronted with
                        a disturbing reality, after he becomes obsessed with
                        following a young woman. Should he act and risk being
                        discovered?</a
                      >
                    </div>
                  </div>
                  <div class="card-body">
                    <a href="{Movie Page}">
                      <div class="product-title">
                        <h3 class="card-title">The Photographer</h3>
                      </div>
                      <div class="product-type"></div>
                      <div class="product-sss">2020</div>
                      <div class="product-type">Feature Length Film</div>
                      <div class="product-genres">
                        <span class="badge badge-pill badge-dark"
                          >Ethereal</span
                        >
                        <span class="badge badge-pill badge-dark">Dark</span>
                      </div>
                    </a>
                    <a href="">
                      <div class="card-body-info">
                        <i class="fas fa-info text-light"></i>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-4 col-lg-3">
              <div class="product rounded">
                <div class="card">
                  <div class="product-image embed-responsive-2by3">
                    <a
                      href="https://cdn.cinnect.net/assets/38cbe793hewj/trailer.mp4"
                      data-lightbox="iframe"
                      ><img
                        class="embed-responsive-2by3"
                        alt="Shop product image!"
                        src="https://cdn.cinnect.net/assets/38cbe793hewj/poster.jpg"
                    /></a>
                    <a
                      href="https://cdn.cinnect.net/assets/38cbe793hewj/trailer.mp4"
                      data-lightbox="iframe"
                      ><img
                        class="embed-responsive-2by3"
                        style="object-fit: cover;"
                        alt="Shop product image!"
                        src="https://cdn.cinnect.net/assets/38cbe793hewj/still1.jpg"
                    /></a>
                    <div class="project-wishlist">
                      <a class="product-play" href="#"
                        ><i class="fas fa-play"></i
                      ></a>
                      <a class="product-bookmark" href="#"
                        ><i class="fa fa-bookmark"></i
                      ></a>
                      <!-- <a href="#"><i class="fa fa-share"></i></a> -->
                    </div>
                    <div class="product-overlay">
                      <a
                        href="https://cdn.cinnect.net/assets/38cbe793hewj/trailer.mp4"
                        data-lightbox="iframe"
                        >A reclusive photographer finds himself confronted with
                        a disturbing reality, after he becomes obsessed with
                        following a young woman. Should he act and risk being
                        discovered?</a
                      >
                    </div>
                  </div>
                  <div class="card-body">
                    <a href="{Movie Page}">
                      <div class="product-title">
                        <h3 class="card-title">The Photographer</h3>
                      </div>
                      <div class="product-type"></div>
                      <div class="product-sss">2020</div>
                      <div class="product-type">Feature Length Film</div>
                      <div class="product-genres">
                        <span class="badge badge-pill badge-dark"
                          >Ethereal</span
                        >
                        <span class="badge badge-pill badge-dark">Dark</span>
                      </div>
                    </a>
                    <a href="">
                      <div class="card-body-info">
                        <i class="fas fa-info text-light"></i>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-4 col-lg-3">
              <div class="product rounded">
                <div class="card">
                  <div class="product-image embed-responsive-2by3">
                    <a
                      href="https://cdn.cinnect.net/assets/38cbe793hewj/trailer.mp4"
                      data-lightbox="iframe"
                      ><img
                        class="embed-responsive-2by3"
                        alt="Shop product image!"
                        src="https://cdn.cinnect.net/assets/38cbe793hewj/poster.jpg"
                    /></a>
                    <a
                      href="https://cdn.cinnect.net/assets/38cbe793hewj/trailer.mp4"
                      data-lightbox="iframe"
                      ><img
                        class="embed-responsive-2by3"
                        style="object-fit: cover;"
                        alt="Shop product image!"
                        src="https://cdn.cinnect.net/assets/38cbe793hewj/still1.jpg"
                    /></a>
                    <div class="project-wishlist">
                      <a class="product-play" href="#"
                        ><i class="fas fa-play"></i
                      ></a>
                      <a class="product-bookmark" href="#"
                        ><i class="fa fa-bookmark"></i
                      ></a>
                      <!-- <a href="#"><i class="fa fa-share"></i></a> -->
                    </div>
                    <div class="product-overlay">
                      <a
                        href="https://cdn.cinnect.net/assets/38cbe793hewj/trailer.mp4"
                        data-lightbox="iframe"
                        >A reclusive photographer finds himself confronted with
                        a disturbing reality, after he becomes obsessed with
                        following a young woman. Should he act and risk being
                        discovered?</a
                      >
                    </div>
                  </div>
                  <div class="card-body">
                    <a href="{Movie Page}">
                      <div class="product-title">
                        <h3 class="card-title">The Photographer</h3>
                      </div>
                      <div class="product-type"></div>
                      <div class="product-sss">2020</div>
                      <div class="product-type">Feature Length Film</div>
                      <div class="product-genres">
                        <span class="badge badge-pill badge-dark"
                          >Ethereal</span
                        >
                        <span class="badge badge-pill badge-dark">Dark</span>
                      </div>
                    </a>
                    <a href="">
                      <div class="card-body-info">
                        <i class="fas fa-info text-light"></i>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-4 col-lg-3">
              <div class="product rounded">
                <div class="card">
                  <div class="product-image embed-responsive-2by3">
                    <a
                      href="https://cdn.cinnect.net/assets/38cbe793hewj/trailer.mp4"
                      data-lightbox="iframe"
                      ><img
                        class="embed-responsive-2by3"
                        alt="Shop product image!"
                        src="https://cdn.cinnect.net/assets/38cbe793hewj/poster.jpg"
                    /></a>
                    <a
                      href="https://cdn.cinnect.net/assets/38cbe793hewj/trailer.mp4"
                      data-lightbox="iframe"
                      ><img
                        class="embed-responsive-2by3"
                        style="object-fit: cover;"
                        alt="Shop product image!"
                        src="https://cdn.cinnect.net/assets/38cbe793hewj/still1.jpg"
                    /></a>
                    <div class="project-wishlist">
                      <a class="product-play" href="#"
                        ><i class="fas fa-play"></i
                      ></a>
                      <a class="product-bookmark" href="#"
                        ><i class="fa fa-bookmark"></i
                      ></a>
                      <!-- <a href="#"><i class="fa fa-share"></i></a> -->
                    </div>
                    <div class="product-overlay">
                      <a
                        href="https://cdn.cinnect.net/assets/38cbe793hewj/trailer.mp4"
                        data-lightbox="iframe"
                        >A reclusive photographer finds himself confronted with
                        a disturbing reality, after he becomes obsessed with
                        following a young woman. Should he act and risk being
                        discovered?</a
                      >
                    </div>
                  </div>
                  <div class="card-body">
                    <a href="{Movie Page}">
                      <div class="product-title">
                        <h3 class="card-title">The Photographer</h3>
                      </div>
                      <div class="product-type"></div>
                      <div class="product-sss">2020</div>
                      <div class="product-type">Feature Length Film</div>
                      <div class="product-genres">
                        <span class="badge badge-pill badge-dark"
                          >Ethereal</span
                        >
                        <span class="badge badge-pill badge-dark">Dark</span>
                      </div>
                    </a>
                    <a href="">
                      <div class="card-body-info">
                        <i class="fas fa-info text-light"></i>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row d-flex justify-content-center">
            <div class="col-11 col-md-12">
              <div class="row">
                <div class="col-12 col-md-9 col-lg-10 text-center text-md-left">
                  <h2>Company Information</h2>
                  <p>(This section is only visible to you)</p>
                </div>
                <div class="col-12 col-md-2 text-center text-md-left">
                  <button class="btn">Edit Company</button>
                </div>
              </div>
              <div class="row mt-5">
                <div class="col-md-6">
                  <h6>Company Name (Full Legal Name)</h6>
                  <input
                    class="company-input w-100"
                    type="text"
                    placeholder="Phillips Distribution"
                  />
                </div>
                <div class="col-md-6 mt-4 mt-md-0">
                  <h6>Brand Name/Trading Name (if different)</h6>
                  <input
                    class="company-input w-100"
                    type="text"
                    placeholder="Phillips Distribution"
                  />
                </div>
              </div>
              <div class="row mt-4">
                <div class="col-md-12">
                  <h6>Regsistered Address</h6>
                  <input
                    class="company-input w-100"
                    type="text"
                    placeholder="Registered Address First Line"
                  />
                </div>
              </div>
              <div class="row mt-4">
                <div class="col-md-6">
                  <h6>Town/City</h6>
                  <input
                    class="company-input w-100"
                    type="text"
                    placeholder="City"
                  />
                </div>
                <div class="col-md-6 mt-4 mt-md-0">
                  <h6>State/Province/Region</h6>
                  <input
                    class="company-input w-100"
                    type="text"
                    placeholder="State"
                  />
                </div>
              </div>
              <div class="row mt-4">
                <div class="col-md-6">
                  <h6>Country</h6>
                  <select
                    class="company-input w-100"
                    name="country"
                    id=""
                    placeholder="Choose Country"
                  >
                    <option value=""></option>
                    <option value="">Country A</option>
                    <option value="">Country B</option>
                    <option value="">Country C</option>
                    <option value="">Country D</option>
                    <option value="">Country E</option>
                  </select>
                </div>
                <div class="col-md-6 mt-4 mt-md-0">
                  <h6>Postcode/ZIP Code</h6>
                  <input
                    class="company-input w-100"
                    type="text"
                    placeholder="Postcode"
                  />
                </div>
              </div>
              <div class="row mt-4">
                <div class="col-md-6">
                  <h6>Company Type</h6>
                  <select
                    class="company-input w-100"
                    name="country"
                    id=""
                    placeholder="Choose Country"
                  >
                    <option value=""></option>
                    <option value="">Option A</option>
                    <option value="">Option B</option>
                    <option value="">Option C</option>
                    <option value="">Option D</option>
                    <option value="">Option E</option>
                  </select>
                </div>
                <div class="col-md-6 mt-4 mt-md-0">
                  <h6>Number of Employees</h6>
                  <select
                    class="company-input w-100"
                    name="country"
                    id=""
                    placeholder="Choose Country"
                  >
                    <option value=""></option>
                    <option value="">Option A</option>
                    <option value="">Option B</option>
                    <option value="">Option C</option>
                    <option value="">Option D</option>
                    <option value="">Option E</option>
                  </select>
                </div>
              </div>
              <div class="row mt-4">
                <div class="col-md-6">
                  <h6>Website</h6>
                  <input
                    class="company-input w-100"
                    type="text"
                    placeholder="www.example.com"
                  />
                </div>
              </div>
              <div class="row mt-5 mb-5">
                <div class="col-md-6">
                  <h6>Company Activity</h6>
                  <input type="radio" name="age" />
                  <label for="age1">&nbsp; Production Company</label><br />
                  <input type="radio" name="age" />
                  <label for="age2">&nbsp; Sales Agency</label><br />
                  <input type="radio" name="age" />
                  <label for="age3">&nbsp; Distribution Company</label><br />
                  <input type="radio" name="age" />
                  <label for="age3">&nbsp; Video on Demand</label><br />
                  <input type="radio" name="age" />
                  <label for="age3">&nbsp; Exhibitor</label><br />
                  <input type="radio" name="age" />
                  <label for="age3">&nbsp; Television Broadcaster</label><br />
                  <input type="radio" name="age" />
                  <label for="age3">&nbsp; Other</label><br />
                </div>
              </div>
            </div>
          </div>

          <div class="row d-flex justify-content-center">
            <div class="col-11 col-md-12">
              <div class="col-12 text-center text-md-left">
                <h2>Team Members</h2>
              </div>
              <div class="row mt-5">
                <div class="col-md-4 col-lg-3 mt-5">
                  <div class="team-card">
                    <div class="team-card-photo"></div>
                    <div class="team-card-info text-center p-3">
                      <h3>Alea Smith</h3>
                      <p>Job Title</p>
                      <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Quidem, sunt?
                      </p>
                      <a href="">
                        <div class="team-card-email">
                          <i class="far fa-envelope"></i>
                        </div>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 col-lg-3 mt-5">
                  <div class="team-card">
                    <div class="team-card-photo"></div>
                    <div class="team-card-info text-center p-3">
                      <h3>Alea Smith</h3>
                      <p>Job Title</p>
                      <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Quidem, sunt?
                      </p>
                      <a href="">
                        <div class="team-card-email">
                          <i class="far fa-envelope"></i>
                        </div>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 col-lg-3 mt-5">
                  <div class="team-card">
                    <div class="team-card-photo"></div>
                    <div class="team-card-info text-center p-3">
                      <h3>Alea Smith</h3>
                      <p>Job Title</p>
                      <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Quidem, sunt?
                      </p>
                      <a href="">
                        <div class="team-card-email">
                          <i class="far fa-envelope"></i>
                        </div>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 col-lg-3 mt-3 mt-5">
                  <div class="team-card">
                    <div class="team-card-photo"></div>
                    <div class="team-card-info text-center p-3">
                      <h3>Alea Smith</h3>
                      <p>Job Title</p>
                      <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Quidem, sunt?
                      </p>
                      <a href="">
                        <div class="team-card-email">
                          <i class="far fa-envelope"></i>
                        </div>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row mt-5 pt-5">
            <div class="col-md-12 d-flex justify-content-center">
              <button class="btn">Edit Company</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- end: Content -->
    <!--Plugins-->

    <script src="https://cdn.cinnect.net/js/jquery.js"></script>
    <script src="https://cdn.cinnect.net/js/plugins.js"></script>
    <!--Template functions-->
    <script src="https://cdn.cinnect.net/js/functions.js"></script>
  </body>
</html>
