<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />

  <link href="https://cdn.cinnect.net/css/plugins.css" rel="stylesheet" />
  <link href="https://cdn.cinnect.net/css/style.css" rel="stylesheet" />
  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
  />
  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
  />
  <link
    rel="stylesheet"
    href="https://cdn.form.io/formiojs/formio.full.min.css"
  />
  <link rel="stylesheet" href="https://cdn.cinnect.net/fonts/branding.css" />
  <link rel="stylesheet" href="./jake-styles.css" />
  <link rel="stylesheet" href="./content.css" />
  <link rel="stylesheet" href="./search.css" />
  <link rel="stylesheet" href="./company.css" />
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-white">
    <a class="navbar-brand logo-default" href="#"
      ><img src="https://cdn.cinnect.net//images/logo.png"
    /></a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarText"
      aria-controls="navbarText"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item px-2">
          <a class="nav-link active" href="/dashboard.html" target="_parent"
            ><h5><i class="fas fa-columns"></i></h5
          ></a>
        </li>
        <li class="nav-item px-2">
          <a class="nav-link" href="/dashboard.html" target="_parent"
            ><h5><i class="fas fa-film"></i></h5
          ></a>
        </li>

        <li class="nav-item dropdown">
          <a
            class="nav-link"
            href="#"
            id="navbarDropdown"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
            ><h5>
              <i class="fas fa-bell"></i><i class="fas fa-angle-down"></i></h5
          ></a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#"
              ><h6><i class="fas fa-bell"></i> Notification</h6></a
            >
          </div>
        </li>
        <li class="nav-item px-2">
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#"
              ><h6><i class="icon-user"></i> Edit Profile</h6></a
            >
            <a class="dropdown-item" href="#"
              ><h6><i class="icon-settings"></i> Company Settings</h6></a
            >
            <a class="dropdown-item" href="#"
              ><h6><i class="icon-log-out"></i> Log Out</h6></a
            >
          </div>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link"
            href="#"
            id="navbarDropdown"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
            ><h5>
              <i class="fas fa-wallet"></i>
              <i class="fas fa-angle-down"></i></h5
          ></a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#"
              ><h6><i class="icon-wallet"></i> Connect Wallet</h6></a
            >
          </div>
        </li>
        <li class="nav-item dropdown-wallet px-2 pr-lg-5">
          <a
            class="nav-link"
            href="#"
            id="navbarDropdown"
            role="button"
            data-toggle="dropdown-wallet"
            aria-haspopup="true"
            aria-expanded="false"
            ><h5>
              <i class="fas fa-user-circle"></i> Jake
              <i class="fas fa-angle-down"></i></h5
          ></a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#"
              ><h6><i class="icon-user"></i> Edit Profile</h6></a
            >
            <a class="dropdown-item" href="#"
              ><h6><i class="icon-settings"></i> Company Settings</h6></a
            >
            <a class="dropdown-item" href="#"
              ><h6><i class="icon-log-out"></i> Log Out</h6></a
            >
          </div>
        </li>
      </ul>
    </div>
  </nav>

  <script src="https://cdn.cinnect.net/js/jquery.js"></script>
  <script src="https://cdn.cinnect.net/js/plugins.js"></script>
  <!--Template functions-->
  <script src="https://cdn.cinnect.net/js/functions.js"></script>
</body>
